@font-face {
  font-family: "PokemonFont";
  src: url("../fonts/Pokemon Hollow.ttf") format("truetype"),
    url("../fonts/Pokemon Solid.ttf") format("truetype");
}

body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.head-section {
  height: calc(100vh + 40px);
  background: url("../image/fond.jpg");
  background-size: cover;
  width: 100%;
  position: relative;
  font-family: "PokemonFont", sans-serif;
  z-index: 2;
}

.head-section > div {
  position: absolute;
  width: 550px;
  top: 20%;
  right: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
}

.head-section > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-section .titre-head {
  width: 100%;
}

.head-section h1,
.head-section i {
  color: white;
}

.head-section h1 {
  font-size: 25px;
}

.head-section i {
  height: 40px;
  font-size: 40px;
  position: absolute;
  top: -105%;
  left: 0%;
}

.head-section a {
  width: 40px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-radius: 50px;
  background-color: black;
  animation: petit-bonds 1s infinite;
  border: 3px solid rgb(98, 14, 150);
}

@keyframes petit-bonds {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(7px);
  }
  30% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  65% {
    transform: translateY(0px);
  }
}

.head-section a:hover {
  transform: scale(1.1);
  animation: none;
}

/* ---------------------------------------------- premiere partie ----------------------------------------------  */

.menu {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  width: fit-content;
  background-color: rgb(255, 80, 92);
  border-radius: 50px;

  border: 4px solid rgb(86, 2, 2);
  z-index: 5000;
}

.menu.fixed {
  position: fixed;
}
.menu li {
  list-style-type: none;
  height: auto;
  display: flex;
  flex-direction: row;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: "roboto", sans-serif;
  padding: 10px;
  background-color: rgb(255, 80, 92);
  border-radius: 50px;
}

.menu li a:hover {
  background-color: rgb(92, 0, 6);
  cursor: pointer;
}

.rectangle {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 100vh;
  z-index: 3;
}

.rectangle img {
  height: 15px;
  width: 100%;
}

.choice-part-section {
  padding-top: 55px;
  position: relative;
  height: 750px;
  /* margin-top: 15px; */
  background: url("../image/pattern-1.jpg");
  z-index: 3;
  padding-bottom: 15px;
}

/* ---------------------------------------------- presentation collection carte ---------------------------------------------- */

.presentation-collection {
  height: calc(100vh - 80px);
  background: url(../image/pattern-2.png);
  position: relative;
}

.section-red-grey-2 {
  height: 0px;
  z-index: 15000;
  position: relative;
}

.section-red-grey-2 img {
  height: 40px;
}

.fa {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 40px;
}

.fb {
  position: absolute;
  left: 40px;
  bottom: 0px;
  width: calc(100% - 79px);
  transform: translate3d(0, 0, 0);
}

.fc {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 40px;
}

.fc {
  transform: rotateY(180deg);
}

.section-red-grey-3 {
  height: 0px;
  z-index: 15000;
  bottom: 0px;
}

.section-red-grey-3 img {
  height: 40px;
}

.fz {
  position: absolute;
  left: 0px;
  bottom: -39px;
  width: 40px;
  z-index: 99;
}

.fe {
  position: absolute;
  left: 40px;
  bottom: -39px;
  width: calc(100% - 79px);
  z-index: 99;
}

.fr {
  position: absolute;
  right: 0px;
  bottom: -39px;
  width: 40px;
  z-index: 99;
}

.fz,
.fe {
  transform: rotateX(180deg);
}

.fr {
  transform: rotate(180deg);
}

/*---------------------------------------------------- div booster----------------------------------------------------- */

.boosters {
  width: 80vw;
  margin: auto;
  height: 600px;
  /* background-color: white; */
  background: url("../image/test-2.png");
  /* z-index: 9999; */
  border: 5px solid rgb(108, 108, 113);
  position: relative;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  display: none;
  /* margin-bottom: 40px; */
}

.frame-bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 250px;
}

.boosters > img:hover {
  animation: vibration 1s;
  /* transform: scale(1.05); */
}

@keyframes vibration {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(2deg);
  }
  45% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.active {
  display: flex;
}

.card {
  height: 375px;
}

/* ---------------------------------------------- formulaire -------------------------------------------------*/

form {
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: url("../image/pattern-2.png");
  padding-left: 40vw;
  padding-right: 40vw;
  padding-top: 20px;
  gap: 20px;
  padding-bottom: 80px;
  position: relative;
}

form h2 {
  font-family: "PokemonFont", sans-serif;
  text-align: center;
}

form input {
  border: 3px solid rgb(218, 82, 82);
  height: 30px;
}

form input:hover {
  box-shadow: 0px 0px 5px rgb(218, 82, 82);
}

form input:focus {
  border: 3px solid black;
  box-shadow: 0px 0px 10px rgb(218, 82, 82);
}

form input[type="submit"] {
  width: 60%;
  margin: auto;
  background-color: white;
  margin-top: 20px;
  border: 0px;
  border-radius: 15px;
  /* padding: 20px; */
  font-size: 15px;
  color: rgb(218, 82, 82);
  height: 40px;
  border: 2px solid rgb(218, 82, 82);
}

form input[type="submit"]:hover {
  border: 2px solid rgb(218, 82, 82);
  background-color: rgb(218, 82, 82);
  color: white;
  /* transform: scale(1.05); */
  box-shadow: 0px 0px 5px rgb(218, 82, 82);
}

form > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
  gap: 2px;
}

.section-red-grey {
  height: 0px;
  z-index: 15000;
  position: relative;
}

.section-red-grey img {
  height: 40px;
}

.f1 {
  position: absolute;
  left: 0px;
  bottom: -39px;
  width: 40px;
}

.f2 {
  position: absolute;
  left: 40px;
  bottom: -39px;
  width: calc(100% - 79px);
  transform: translate3d(0, 0, 0);
}

.f3 {
  position: absolute;
  right: 0px;
  bottom: -39px;
  width: 40px;
}

.f1,
.f2 {
  transform: rotateX(180deg);
}

.f3 {
  transform: rotate(180deg);
}

.img-pikachu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  z-index: 5000;
  width: 250px;
}

/* ---------------------------------------------- footer ---------------------------------------------- */

footer {
  height: auto;
  background: url("../image/pattern-1.jpg");
  position: relative;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer .footer-bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 100px;
}

footer .footer-top-left {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  transform: rotate(180deg);
}

.texte-pokemon {
  height: 84px;
  width: 150px;
}

footer .lien-footer {
  /* margin: auto; */
  width: fit-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .lien-footer li {
  list-style-type: none;
}

footer .lien-footer li a {
  text-decoration: none;
  color: white;
  font-family: "roboto", sans-serif;
}

footer .lien-footer li a:hover {
  text-decoration: underline rgb(218, 82, 82);
}

.teamrocket {
  width: 300px;
}

.div-reseaux {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-reseaux h2 {
  color: white;
  font-family: "roboto", sans-serif;
  font-size: 25px;
}

.div-reseaux div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.div-reseaux img {
  width: 32px;
  padding: 9px;
}

.div-reseaux img:hover {
  background-color: rgb(218, 82, 82);
  border-radius: 20px;
}

.div-reseaux li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/* ---------------------------------------------- div des choses à gagner ---------------------------------------------- */

.a-gagner {
  height: fit-content;
  background: url("../image/pattern-2.png");
  border-top: 10px solid rgb(218, 82, 82);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.a-gagner h1 {
  margin: 20px;
  font-family: "roboto", sans-serif;
  z-index: 3;
  color: white;
}

.a-gagner h2 {
  margin: 0px;
  margin-bottom: 20px;
  font-family: "roboto", sans-serif;
  z-index: 3;
  color: white;
}

.a-gagner img {
  height: 300px;
  padding-left: 135px;
}

.a-gagner img:hover {
  animation: vibration2 1s;
}

@keyframes vibration2 {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-1deg);
  }
  30% {
    transform: rotate(1deg);
  }
  45% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(1deg);
  }
  /* 75%  { transform: rotate(-1deg); }
    100% { transform:  rotate(0deg); } */
}

.a-gagner div {
  display: flex;
  align-items: center;
}

.lot {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  background: url("../image/pattern-4.png");
  padding: 40px;
  border: 4px solid rgb(218, 82, 82);
  color: white;
  border-radius: 15px;
  z-index: 200;
}

.lot ul {
  padding: 10px !important;
  padding-left: 25px !important;
  background-color: rgb(218, 82, 82);
  border-radius: 15px;
  border: 2px solid white;
}

.lot li {
  font-size: 16px;
  font-family: "roboto", sans-serif;
}

.lot p {
  font-size: 19px;
  font-family: "roboto", sans-serif;
}

.lot > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-gagner ul {
  padding: 0%;
}

.demi-cercle {
  position: absolute;
  height: 500px;
  width: 1000px;
  background-color: rgb(218, 82, 82);
  border-radius: 100%;
  z-index: 2;
  top: -410px;
}

#confettis {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  padding: 0px;
  animation: none;
}

#confettis:hover {
  animation: none;
}
/* ---------------------------------------------- la page qui s'ouvre pour afficher carte, boosters etc en grand ---------------------------------------------- */

.zoom {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100vh;
}

#overlay {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 9999;
}

.zoom .card-zoomed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
  z-index: 10001; /* Au-dessus du fond semi-transparent */
}

.zoom .img-fermer {
  height: 50px;
  width: auto;
  background-color: black;
  border-radius: 15px;
  /* display: none; */
  position: absolute;
  z-index: 10009;
  top: 20px;
  right: 20px;
}

.zoom .img-fermer:hover {
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}
